<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input clearInput [(ngModel)]="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input clearInput [(ngModel)]="senha"
      type="password" value="123456789" id="senha"></ion-input>
    </ion-item>
    
    <ion-item *ngFor="let entry of form">
      <ion-label>Manter-se Logado</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"> </ion-checkbox>
    </ion-item>
    
    </ion-card>
    
    <div align="center">
      <ion-button expand="block" size="small"color="primary" (click)="registrar()">Registrar</ion-button>
      <ion-button expand="block" size="small" color="light" (click)="apagar()">Limpar</ion-button>
      <ion-button expand="block" size="small" routerLink="/cadastrar">Cadastrar-se</ion-button>
    </div>

    <div align="center">
      <h6><b>{{mensagem}}</b></h6>
    </div>
</ion-content>
